<!-- <div class="container-fluid" style="background-image: url('../assets/finalized.png'); height: 800px;">
    <div class="row" style="width: 80%; height: 500px; margin: auto; margin-top: 50px;">
        <div (click)="goto_tech()" class="col-lg-5 technical" style="background-image: url('../assets/technical_logo.png'); background-size: 100% 100%; position: relative;">
            
            <div class="tech"><h1 style="color: white;">Technical Events</h1></div>
        </div>
        <div class="col-lg-2"></div>
        <div (click)="goto_nontech()" class="col-lg-5 non_technical"  style="background-image: url('../assets/non_technical.png'); background-size: 80% 80%; background-repeat: no-repeat; position: relative;">
            <div class="tech"><h1 style="color: white;">Other Events</h1></div>

        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div style="padding: 20px; background-color: white; ">
        <h2 class="heading" style="text-align: center; color: black;"> EVENTS</h2>
    </div>

    <div class="row" style="  margin: auto; margin-top: 100px;">
        <div (click)="goto_ppt()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/ppt.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">PPT</h2>
        </div>
        <div class="col-lg-2 col-md-12"></div>
        <div (click)="goto_web_design()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/web-design.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">Web Design</h2>
        </div>
        
    </div>

    <div class="row" style="  margin: auto; margin-top: 100px;">
        <div (click)="goto_project_idea()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/idea.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">Project Expo</h2>
        </div>
        <div class="col-lg-2 col-md-12"></div>
        <div (click)="goto_catch_the_flag()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/cttf.png'); background-size: 100% 100%; background-repeat: no-repeat; border-radius: 20px;"></div>
            <h2 style="text-align: center; padding-top: 12px;">Capture the Flag</h2>
        </div>
    </div>

    <div class="row" style=" margin: auto; margin-top: 100px; margin-bottom: 80px;">
        <div (click)="goto_bingo()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/connection1.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">Mingle Bingo</h2>
        </div>
        <div class="col-lg-2 col-md-12"></div>
        <div (click)="goto_ad_zap()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/marketing.png'); background-size: 100% 100%; background-repeat: no-repeat; border-radius: 20px;"></div>
            <h2 style="text-align: center; padding-top: 12px;">ADZAPP</h2>
        </div>
    </div>
    
    
    <div class="row" style=" margin: auto; margin-top: 100px; margin-bottom: 80px;">
        <div (click)="goto_winning_thrill()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/coderace.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">Code Race</h2>
        </div>
        <div class="col-lg-2 col-md-12"></div>
        <div (click)="goto_potrait()" class="col-lg-5 col-md-12">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/googling.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">Googling</h2>
        </div>
    </div>

</div>