<div class="container-fluid">
    <div class="row racecsi">
        <div class="col-lg-5 race col-md-12 col-sm-12" style="background-image: url(../assets/logo/race.png); background-repeat: no-repeat; background-size: 100% 100%;"></div>
        <div class="col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-lg-5 csi col-md-12 col-sm-12" style="background-image: url(../assets/logo/csi.png); background-repeat: no-repeat; background-size: 100% 100%;"></div>
    </div>

    <div class="row novitas" style="">
        <div class="col-lg-4 col-md-12 novitas-logo" style="background-image: url('../assets/logo/logomain.png'); background-size: 100% 100%; background-repeat: no-repeat;">

        </div>
        <div class="col-lg-8 col-md-12 novitas-content">
            <p>It is an National level Technical symposium organized by the Dhirajlal Gandhi college of Technology from the department of computer science and Engineering. This events includes many event like paper presentation, project presentation/Expo and other events. 
                Novitas'22 invites the young intelligent minds 
                of various colleges and sets forth tremendous means to 
                exhibit their valuable ideas.
                It is our sincere effort to provide a healthy platform 
                for the students to interact and exchange their ideas on 
                recent technical advancements and to exhibit their hidden 
                talents.</p>
        </div>
        
    </div>
</div>