<div class="container-fluid">
    <div class="row" style=" margin-top: 100px; margin-bottom: 50px;">
        <div class="col-lg-4">
            <div style="height: 80%; width: 80%; border: 2px solid white; margin: auto; margin-top: 50px; padding: 50px; border-radius: 30px;">
                <img src="../assets/logo/cttf.png" alt="" style="height: 80%; width: 100%; border-radius: 20px;">
                <a class="registerlink" href="https://forms.gle/rEP7nEiTbQU6WJo3A" target="_blank">Register</a>
            </div>
        </div>
        <div class="col-lg-8" >
            <h1 style="margin-bottom: 20px;">Catch the Flag</h1>
            <h4>•	Maximum 3 Members Allowed</h4>
            <h4>•	Individual Participants can also Participate</h4>
            <h2 style="margin: 10px 0px;">Categories :</h2>
            <h4>•	Web</h4>
            <h4>•	Crytography</h4>
            <h4>•	Linux</h4>
            <br>
            <h2 style="margin-bottom: 20px;">DATE & TIME</h2>
            <h5 style="margin-bottom: 5px;"><i class="fa-solid fa-calendar-days"></i><span style="margin-left: 10px;">14-05-2022</span></h5>
            
            <h5><i class="fa-solid fa-clock"></i><span style="margin-left: 10px;">12:30pm - 01:30pm</span></h5>
            <h5></h5>
        </div>
    </div>
</div>