<div class="container-fluid">
    <div style="padding: 20px; background-color: white; ">
        <h2 class="heading" style="text-align: center; color: black;">WORKSHOPS</h2>
    </div>

    <div class="row" style=" margin: auto; margin-top: 100px;margin-bottom: 100px;">
        <div (click)="goto_cyber()" class="col-lg-5">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/cybersecurity.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">Cyber Security</h2>
        </div>
        <div class="col-lg-2"></div>
        <div (click)="goto_react()" class="col-lg-5" style="">
            <div style="height: 80%; width: 100%; background: url('../assets/logo/reactjs1.png'); background-size: 100% 100%;"></div>
            <h2 style="text-align: center; padding-top: 12px;">React</h2>
        </div>
    </div>
</div>