<div class="container-fluid" style="">
    <div class="row" style=" margin-top: 100px; margin-bottom: 50px;">
        <div class="col-lg-4">
            <div style="height: 80%; width: 80%; border: 2px solid white; margin: auto; margin-top: 50px; padding: 30px; border-radius: 30px; ;">
                <img src="../assets/logo/ppt.png" alt="" style="height: 80%; width: 100%;">
                <a class="registerlink" href="https://forms.gle/rEP7nEiTbQU6WJo3A" target="_blank">Register</a>
            </div>
        </div>
        <div class="col-lg-8" >
            <h1 style="margin-bottom: 10px;">PPT</h1>
            <h5 style="margin-bottom: 10px;">The main objective of the competition that the participants has to keep in mind while preparing is to develop and present a holistic style of approach which is able to motivate his/her audience.
                The participant selects a topic from the given list collects information and presents a content filled and a desired information.</h5>
            <h3>Rules & Regulations</h3>
                <h5>•	Maximum 3 Members Allowed</h5>
            <h5>•	Individual Participants can also Participate</h5>
            <h5>•	Presentation Timing : 6 - 7 min</h5>
            <h5>•	Slides Count : 10 – 15 Slides</h5>
            <h5>•   Last date for submission of PPT (MAY 12).</h5>
            <br><br>
            <h2 style="margin-bottom: 20px;">DATE & TIME</h2>
            <h5 style="margin-bottom: 5px;"><i class="fa-solid fa-calendar-days"></i><span style="margin-left: 10px; ">14-05-2022</span></h5>
            
            <h5><i class="fa-solid fa-clock"></i><span style="margin-left: 10px;">9:30am - 11:30am</span></h5>
            <h5></h5>
        </div>
        
    </div>
    
    
</div>