*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
.col-lg-4{
    /* border: 2px solid whitesmoke; */

}
.col-lg-8{
    /* border: 2px solid whitesmoke; */
    padding: 20px;
    padding-top: 50px;
}
.col-lg-3{
    padding-top: 50px;
}
.registerlink{
    text-align: center;
     text-decoration: none;
      padding: 15px; 
      background-color: white; 
      color: black; 
      margin: auto; 
      display: block; 
      margin-top: 20px; 
      border-radius: 20px; 
      cursor: pointer;
}

@media only screen and (max-width: 320px)
{
    .registerlink{
        padding: 5px;
    }
}