<div class="container-fluid" style="">
    <div class="row" style=" margin-top: 100px; margin-bottom: 50px;">
        <div class="col-lg-4">
            <div style="height: 80%; width: 80%; border: 2px solid white; margin: auto; margin-top: 50px; padding: 30px; border-radius: 30px; ;">
                <img src="../assets/logo/reactjs1.png" alt="" style="height: 75%; width: 100%;">
                <a class="registerlink"  href="https://forms.gle/rEP7nEiTbQU6WJo3A" target="_blank">Register</a>
            </div>
        </div>
        <div class="col-lg-8" >
            <h1 style="margin-bottom: 20px;">REACT</h1>
            <h5>React is a free and open-source front-end JavaScript library for building user interfaces based on UI components. It is maintained by Meta (formerly Facebook) and a community of individual developers and companies. React can be used as a base in the development of single-page, mobile, or server-rendered applications with frameworks like Next.js. However, React is only concerned with state management and rendering that state to the DOM, so creating React applications usually requires the use of additional libraries for routing, as well as certain client-side functionality.</h5>
            <br><br>
            <h2 style="margin-bottom: 20px;">DATE & TIME</h2>
            <h5 style="margin-bottom: 5px;"><i class="fa-solid fa-calendar-days"></i><span style="margin-left: 10px;">14-05-2022</span></h5>
            
            <h5><i class="fa-solid fa-clock"></i><span style="margin-left: 10px;">01:30pm - 04:30pm</span></h5>
            <h5></h5>
        </div>
    </div>
</div>