<div class="container-fluid" style="">
    <div class="row" style=" margin-top: 100px; margin-bottom: 50px;">
        <div class="col-lg-4">
            <div style="height: 80%; width: 80%; border: 2px solid white; margin: auto; margin-top: 50px; padding: 50px; border-radius: 30px;">
                <img src="../assets/logo/cam.png" alt="" style="height: 80%; width: 100%;">
                <a class="registerlink"  href="https://forms.gle/rEP7nEiTbQU6WJo3A" target="_blank">Register</a>
            </div>
        </div>
        <div class="col-lg-8" >
            <h1 style="margin-bottom: 10px;">Portrait</h1>
            <h5 style="margin-bottom: 10px;">Portrait photography is a type of photography aimed toward capturing the personality of a person or group of people by using effective lighting, backdrops, and poses.</h5>
            <h4>•	Maximum 2 members allowed in the team.</h4>
            <h4>•	You must submit your photo through the link.</h4>
            <h4>•	Result will be announced on may 14.</h4>
            <br><br>
            <h2 style="margin-bottom: 20px;">DATE & TIME</h2>
            <h5 style="margin-bottom: 5px;"><i class="fa-solid fa-calendar-days"></i><span style="margin-left: 10px;">14-05-2022</span></h5>
            
            <h5><i class="fa-solid fa-clock"></i><span style="margin-left: 10px;">10:30am - 11:30am</span></h5>
            <h5></h5>
        </div>
    </div>
</div>